<h1> Please Sign In Below </h1>

<%= form_for signin_path do |f| %>
<%= f.label :name, "Name" %>
<%= f.text_field :name %>
<br>
<%= f.label :password, "Password" %>
<%= f.password_field :password %>
<br>
<%= f.submit "Sign In" %>
<% end %>
<br>
<h3><%= link_to "Back", root_path, class:"btn btn-primary btn-light" %></h3>
