<h1> Please Sign In Below </h1>
<h2><%= form_for signin_path do |f| %>
<%= f.label :name, "Name" %>
<%= f.text_field :name %>
<br>
<%= f.label :password, "Password" %>
<%= f.password_field :password %></h2>
<br>
<%= f.submit "Sign In" %>
<% end %>
