<h1><%= Listing All Physicians In AppointmentMD %></h1>
<br><br>


<table>
  <tr>
    <th>Name</th>
    <th>Specialty</th>
    <th>Locations</th>
    <th>Appointments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tbody>
   <% @physicians.each do |physician| %>
    <tr>
     <td><%= link_to physician.name, physician_appointments_path(physician) %></td>
     <td><%= physician.specialty %></td>
     <td><%= link_to physician.appointments, physician_appointments_path() %></td>
     <td><%= physician.locations %></td>
    </tr>
   <% end %>
  </tbody>
</table>
  <br>


<%= link_to 'View Appointments', appointments_path %>
