<h1>Listing All Physicians In AppointmentMD</h1>
<br><br>


<table>
  <tr>
    <th>Name</th>
    <th>Specialty</th>
    <th>Locations</th>
    <th></th>
    <th></th>
    <th></th>
    </tr>


  <% @physicians.each do |physician| %>
  <tr>
    <td><%= link_to physician.name, physician %></td>
    <td><%= physician.specialty %></td>

      <td><%= link_to 'Show', physician %></td>
      <td><%= link_to 'Edit', edit_physician_path(physician) %></td>
      </tr>
      <% end %>
      </table>
      <br>

      <%= link_to 'New Physician', new_physician_path %>
