<h1><strong><%= @physician.name %></strong></h1>
<br>
<h2><strong><%= @physician.specialty %></strong></h2>
<br>

<p><%= link_to "Edit Your Info", physician_path, class:"btn btn-primary btn-light"  %></p>
<p><%= link_to "See All Appointments", appointment_path, class:"btn btn-primary btn-light" %></p>
<p><%= link_to "Create New Appointment", new_appointment_path, class:"btn btn-primary btn-light" %></p>
<p><%= link_to "See All Locations", locations_path, class:"btn btn-primary btn-light" %></p>
<p><%= link_to "Create New Location", new_location_path, class:"btn btn-primary btn-light" %></p>
<p><%= link_to "Logout", logout_path, class:"btn btn-primary btn-light" %></p>
