<% if flash[:notice] %>
<div class="notice"> <%= flash[:notice] %> </div>
<% end %>
<h1><strong><%= @physician.name %></strong></h1>
<br>
<h2><strong><%= @physician.specialty %></strong></h2>
<br>

<p><%= link_to "Edit Your Info", physician_path  %></p>
<p><%= link_to "See All Appointments", appointment_path %></p>
<p><%= link_to "Create New Appointment", new_appointment_path %></p>
<p><%= link_to "See All Locations", location_path %></p>
<p><%= link_to "Create New Location", new_location_path %></p>
<p><%= link_to "Logout", logout_path %></p>
