<h1>Name:<%= @physician.name %></h1>
<br>
<h2>Specialty:<%= @physician.specialty %></h2>
<br>




<p><%= link_to "Edit Your Info", edit_physician_path(@physician), class:"btn btn-primary btn-light"  %></p>
<p><%= link_to "See All Appointments", appointment_path, class:"btn btn-primary btn-light" %></p>
<p><%= link_to "Create New Appointment", appointment_path, class:"btn btn-primary btn-light" %></p>
<p><%= link_to "See All Locations", location_path, class:"btn btn-primary btn-light" %></p>
<p><%= link_to "Create New Location", location_path, class:"btn btn-primary btn-light" %></p>
<p><%= link_to "Back", physicians_path %></p>
<p><%= link_to "Logout", logout_path, class:"btn btn-primary btn-light" %></p>
