<p id="notice"><%= notice %></p>


<h1>Name:<strong><%= @physician.name %></strong></h1>
<br>
<h2>Specialty:<strong><%= @physician.specialty %></strong></h2>
<br>
<h2>Locations:<% if @physician.location %>
  <%= link-to @physician.location.name, @physician.location %>
  <% else %>
  <em>No locations</em>
  <% end %>



<p><%= link_to "Edit Your Info", edit_physician_path(@physician), class:"btn btn-primary btn-light"  %></p>
<p><%= link_to "See All Appointments", appointment_path, class:"btn btn-primary btn-light" %></p>
<p><%= link_to "Create New Appointment", new_appointment_path, class:"btn btn-primary btn-light" %></p>
<p><%= link_to "See All Locations", locations_path, class:"btn btn-primary btn-light" %></p>
<p><%= link_to "Create New Location", new_location_path, class:"btn btn-primary btn-light" %></p>
<p><%= link_to "Back", physicians_path %></p>
<p><%= link_to "Logout", logout_path, class:"btn btn-primary btn-light" %></p>
