<table>
  <thead>
    <tr>
      <th>Patient Name</th>
      <th>Age</th>
      <th>Height</th>
      <th>D.O.B</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @patient.name %></td><br>
          <td><%= @patient.age %></td>
          <td><%= @patient.height %></td>
          <td><%= @patient.date_of_birth.strftime('%b %d, %Y') %></td>
          </tr>
          </tbody>
          </table>

<br></br>
<% if @patient.appointments %>
<table>
  <thead>
    <tr>
      <th>Physician's Name</th>
      <th>Specialty</th>
      <th>Date</th>
      <th>Time</th>
      <th>Location</th>
    </tr>
    </thead>
    <tbody>
<% @appointments.each do |appointment| %>
<tr>
<td>You have an appointment with: <%= link_to appointment.physician.name, physician_appointments_path(appointment.physician)  %></td>
<td><%= appointment.physician.specialty %></td>
<td><%= appointment.date.strftime('%a, %b %d, %Y') %></td>
<td><%= appointment.time('l:%M %p') %></td>
<td><%= appointment.location %></td>
</tr>
<% end %>
</tbody>
</table>
<% else %>
<%= "You currently have no appointments. Would you like to set a new appointment?" %>
<% end %>
<h3><p><%= link_to "See All Your Appointments", patient_appointment_path(@patient), class:"btn btn-primary btn-light" %></p>
    <p><%= link_to "Edit Your Info", edit_patient_path, class:"btn btn-primary btn-light" %></p>
    <p><%= link_to "Back", patients_path, class:"btn btn-primary btn-light" %></p>
    <p><%= link_to "Log Out", logout_path, class:"btn btn-primary btn-light" %></p></h3>
