<h1><%= @patient.name %></h1>
<br><br>
<% if @patient.appointments %>
<% @patient.appointments.each do |appointment| %>
<ul>
<li>You have an appointment on: <%= appointment.date %></li>
<li><%= appointment.time %></li>
</ul>
<% end %>
<% else %>
<%= "You currently have no appointments. Would you like to set a new appointment?" %>
<% end %>
<h3><p><%= link_to "See Physicians", physician_path, class:"btn btn-primary btn-light" %></p>
    <p><%= link_to "Edit Your Info", edit_patient_path(@patient), class:"btn btn-primary btn-light" %></p>
    <p><%= link_to "Back", patients_path, class:"btn btn-primary btn-light" %></p>
    <p><%= link_to "Log Out", logout_path, class:"btn btn-primary btn-light" %></p></h3>
