<h1>Appointment Info page</h1>
<br>
<h2><%= @appointment.date %>
    <%= @appointment.time %>
    <%= @appointment.patient.name %>
    <%= @appointment.physician.name %>
    <%= @ppointment.location.name %>
</h2><br><br>
<%= link_to 'Edit', edit_appointment_path(@appointment) %>
