<h1>Appointment Info page</h1>
<br>
<% @appointments.each do |appointment| %>
<h2><%= appointment.date %>
    <%= appointment.time %>
    <%= appointment.patient.name %>
    <%= appointment.physician.name %>
    <%= ppointment.location.name %>
    <% end %>
</h2><br><br>
