<h1> Listing all available Locations in AppointmentMD </h1>
<% @locations.each do |location| %>
<%= location.name %>
<% end %>

<%= "Would you like to see all available Physician's at #{location.name}"%><%= link_to "#{location.name}", location_path(location) %>
<%= link_to "See Physicians", physician_path, class:"btn btn-primary btn-light" %>
<%= link_to "Log Out", logout_path, class:"btn btn-primary btn-light" %>
